.aboutmecard {
    width: 18rem;
    height: 20rem;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    margin-top: 0.5rem;
}

.t {
    height: 4rem;
    width: auto;
    display: flex;
    align-items: center;
}

.h {
    margin: 1rem;
    color: #000;
}

.textbox {
    width: 80%;
    height: 16rem;
    margin-left: 1rem;
    display: flex;
    align-items: start;
}

.y {
    margin: 0;
    height: 90%;
    word-break: break-all;
    overflow: hidden;
}