.aboutmecard {
    width: 18rem;
    height: 20rem;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.t {
    height: 4rem;
    width: auto;
    display: flex;
    align-items: center;
}

.h {
    margin: 1rem;
    color: #000;
}

.textbox {
    width: 80%;
    height: 16rem;
    margin-left: 1rem;
    display: flex;
    align-items: start;
}

.y {
    margin: 0;
    height: 90%;
    overflow-wrap: break-word;
    overflow: hidden;
}

.ref-div {
    height: 90%;
    overflow: hidden;
}

.read-more {
    border: none;
    background-color: transparent;
    color: #0547f3;
    cursor: pointer;
}

.expanded-card {
    padding: 20px 10px;
    width: 25rem;
    height: auto;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    margin-top: 0.5rem;
    position: fixed;
    font-family: sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close-btn {
    float: right;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
}

@media(max-width: 767px) {
    .expanded-card {
        width: 75%;
    }
}