@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.socialscard {
    width: 18rem;
    height: 3rem;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    
}

.m {
    width: 8rem;
    height: 70%;
    line-height: 70%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #0547f3;
    color: #fff;
    margin-left: 0.5rem;
    border: none;
    outline: none;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    transition-duration: 0.3s;
    cursor: pointer;
}

.m:hover {
    background-color: #033ac7;
    transition-duration: 0.3s;
}

.x {
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 70%;
    width: 2rem;
    font-size: 2rem;
    margin-left: 0.4rem;
    cursor: pointer;
}