.card {
    width: 18rem;
    height: 18rem;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.head {
    height: 4rem;
    display: flex;
    align-items: center;
}

.title {
    margin: 1rem;
}

.line {
    display: block;
    border: 1px solid #808080;
    width: 50%;
    margin: 0 1rem;
}

.content {
    margin-top: 1rem;
    font-family: "Inter", sans-serif;
}

.projectTitle {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.t {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projectDescription {
    margin: 0 8px;
    font-size: 12px;
}

.project {
    font-size: 20px;
    margin: 0 8px;
    font-weight: 600;
}

.description {
    margin: 8px 14px;
}

.text {
    margin: 4px;
    font-size: 16px;
}

.stack {
    margin: 12px 6px;
    display: flex;
    flex-wrap: wrap;
    gap: 4px 4px;
    margin: 6px;
    height: 3.5rem;
}

.s {
    border: 1px solid #808080;
    border-radius: 6px;
    width: auto;
    height: 1.5rem;
    padding: 0 4px;
    display: flex;
    align-items: center;
}

.icon {
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 4px;
    margin-left: 2px;
    padding: 0;
}