.namecontainer {
    margin: 1rem;
    width: 18rem;
    height: 5rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.texts {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 16rem;
    margin-left: 1rem;
}

h2, h4 {
    color: #000000;
    margin: 0;
}

